.open-sans-normal {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


/* shared style */
.secondary-bg{
    background-color: #FFF8F3;
}

.text-primary{
    color: #FD6E0A;
}

.text-dark02{
    color: #474747;
}

.btn_01{
    background-color: #FD6E0A;
    border-radius: 5px;
    color: white;
    font-size: 20px;
    font-weight: bold;
    border-style: none;
    padding: 18px 35px;
}

.section-title{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    text-align: center;
}

.section-des{
    color: #757575;
    font-size: 18px;
}



/* Header Styles */

.header{
    background-image: url('../images/developer.png') , url(../images/header_bg.png);
    background-repeat: no-repeat;
    background-position: top left, bottom right;
}



/* Nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 230px;
}

.logo{
    font-weight: 800;
    font-size: 45px;
}

nav ul{
    display: flex;
    align-items: center;
}

nav ul li{
    list-style: none;
    margin-right: 51px;
}

nav li a{
    font-size: 20px;
    text-decoration: none;
}



/* Banner styles */
.banner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 40px 0 230px;
}

.banner-content{
    max-width: 585px;
}

.ban-greet{
    font-size: 45px;
    font-weight: 600;
}

.ban-myname{
    font-size: 85px;
    font-weight: bold;
}

.ban-des{
    color: #757575;
    font-size: 18px;
}

.banner-pro{
    width: 584px;
    height: 676px;
}

#ban-btn-02{
    background-color: white;
    border-color: #FD6E0A;
    color: #FD6E0A;
    border-style: solid;
    margin-left: 30px;
}

/* Main Section */

main{
    max-width: 1140px;
    margin: 0 auto;
}

/* About Styles */

.about{
    padding: 130px 160px;
    text-align: center;
    border-radius: 10px;
    margin-top: 130px;
}

.about-content{
    background-color: white;
}

.item-des{
    font-weight: bold;
}

.about-items{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
}



